<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/votar.css') }}">
    <title>Votacion</title>
</head>
<body>
    <form method="POST" action="/realizar_votacion">
    <div class="slide-container swiper">
        <header>
            <h1>ELIGE A TU CANDIDATO</h1>
            <span>Recuerda que solo puedes seleccionar a un candidato.</span>
        </header>
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                {% for elector in electores %}
                    {% for candidato in candidatos %}
                        <div class="card swiper-slide">
                            <input type="hidden" name="elector_ci" value="{{ elector.get_ci() }}">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img src="{{ url_for('static', filename=candidato.imagen) }}" alt="" class="card-image" width="100">
                                </div>
                            </div>
                            <div class="card-content">
                                <h2 class="name">{{ candidato.get_nombre() }}</h2>
                                <p class="description">
                                    {{ candidato.get_partido() }}
                                </p>
                                <input type="radio" name="candidato_ci" value="{{ candidato.get_ci() }}">
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>
    <button class="button" type="submit">Votar</button>
    </form>

</body>
    <script src="{{ url_for('static', filename='JS/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/votar.js') }}"></script>
</html>
